        <div id="footer">
			<table border="0" width="1000px" align="center">
				<tr>
					<td width="33%" align="center"><a href="{{ path('LaKombiMainBundle_contact') }}">Contact</a></td>
					<td width="33%" align="center"><a href="mailto:webmaster@lakombi.com?subject=[LaKombi.com]">Webmaster</a></td>
					<td width="33%" align="center"><a href="http://www.facebook.com/pages/IA-Production-nos-Studios/156051627808703" target="_blank">IA Production</a></td>
				</tr>
				<tr>
					<td colspan="3" width="100%"  align="center" style="vertical-align: middle">&copy; 2012 LaKombi.com - All rights reserved.</td>
				</tr>
			</table>
		</div>
