    	<table width="1193px" height="200px">
    		<tr>
    			<td valign="top" align="left" id="top">
					<div id="logo"><a href="http://cluster003.ovh.net/~lakombi/app_dev.php/" alt="Rejouer l'intro"><img align="left" src="{{ asset('bundles/lakombimain/images/logo1.png')}}" /></a><div>
    			</td>
			</tr>
		</table>
