{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block body %}
	<table width="100%" border="0" align="right">
		<tr>
 		 <td valign="top" align="right">{% include 'LaKombiMainBundle:Main:clip.html.twig' %}</td>
         <td width="13px">&nbsp;</td>
 		 <td valign="top" rowspan="2" align="right">{% include 'LaKombiMainBundle:Main:gallery.html.twig' %}</td>
        </tr>
        <tr>
        	<td colspan="2">&nbsp;</td>
       	</tr>
   	</table>
{% endblock %}
