		<div  id="bar">
			<table width="1193px" style="border-collapse: collapse; border-width: 10px;">
				<tr>
					<td id="menu" width="350px">&nbsp;</td>
					<td id="menu" align="center"><a id="amenu" href="{{ path('LaKombiMainBundle_home') }}">Accueil</a></td>
					<td id="menu" width="15px">&nbsp;</td>
					<td id="menu" align="center"><a id="amenu" href="{{ path('LaKombiMainBundle_news') }}">Actualit&eacute;s</a></td>
					<td id="menu" width="15px">&nbsp;</td>
					<td id="menu" align="center"><a id="amenu"  href="{{ path('LaKombiMainBundle_about') }}">Biographie</a></td>
					<td id="menu" width="15px">&nbsp;</td>
					<td id="menu" align="center"><a id="amenu" href="#">Boutique</a></td>
					<td id="menu" width="15px">&nbsp;</td>
					<td id="menu" align="center"><a id="amenu" href="{{ path('LaKombiMainBundle_contact') }}">Contact</a></td>
       			</tr>
		   		<tr>
		 			<td align="right" colspan="10">
						<table border="0">
							<tr>
								<td align="right">Pseudo :</td>
								<td align="center"><form><input type="text" size="4"></form></td>
								<td align="right">Mot de passe :</td>
								<td align="center"><form><input type="text" size="4"></form></td>
								<td align="left"><form><input type="submit" value="Ok"></form></td>
								<td>&nbsp;</td>
								<td align="right">Rechercher :</td>
								<td align="center"><form><input type="text" size="6"></form></td>
								<td align="left"><form><input type="submit" value="Ok"></form></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
