<div width="100%" style="vertical-align: top">
	<a href="#"><img src="{{ asset('bundles/lakombimain/images/teaser.png') }}"/></a>
	<a href="#"><img src="{{ asset('bundles/lakombimain/images/teaser.png') }}"/></a>
</div>
